.nav
	background: $dark
	height: 100vh
	width: 100%
	padding: 20px 20px
	display: flex
	flex-direction: column
	align-items: center
	position: relative

.nav-logo
	img
		width: 45px

.nav-links
	margin-top: 40px

	a
		display: flex
		color: $white
		font-weight: 600
		font-size: 0.7rem
		padding: 10px

		i
			width: 20px

.nav-logout
	width: 80%
	position: absolute
	bottom: 40px
	
	button
		padding: 13px 20px
		background: $blue
		color: $white
		text-transform: uppercase
		border: none
		border-radius: 5px
		font-size: 0.7rem
		font-weight: 600
		text-align: center
		display: block
		cursor: pointer
		width: 100%