// COLORS
$blue: #00c0e9
$black: #000000
$dark: #1A2029
$white: #ffffff
$grey: #9ca6bb
$midgrey: #282D38

// FONTS
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;700;900&display=swap')
$main-font: 'Montserrat', sans-serif